@{
    ViewBag.Title = "Sobre Nosotros";
}

<div id="body">
    <h1><span>Como comenzó mustacchio</span></h1>
    <div>
        <img src="~/images/photographer.jpg" alt="">
        <div class="article">
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.
            </p>
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.
            </p>
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.
            </p>
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.
            </p>
        </div>
    </div>
</div>