@{
    ViewBag.Title = "Contacto";
}
<form action="#" class="p-5 bg-white">

    <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
            <label class="font-weight-bold" for="fullname">Nombre Completo</label>
            <input type="text" id="fullname" class="form-control" placeholder="Nombre Completo">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label class="font-weight-bold" for="email">Correo electrónico</label>
            <input type="email" id="email" class="form-control" placeholder="Correo electrónico">
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
            <label class="font-weight-bold" for="phone">Celular</label>
            <input type="text" id="phone" class="form-control" placeholder="Celular">
        </div>
    </div>

    <div class="row form-group mb-4">
        <div class="col-md-12">
            <label class="font-weight-bold" for="message">Mensaje</label>
            <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Escribe el mensaje aquí..."></textarea>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="Enviar" class="btn btn-primary pill text-white px-5 py-2">
        </div>
    </div>


</form>

<div class="p-4 mb-3 bg-white">
    <h3 class="h5 text-black mb-3">Contacto</h3>
    <p class="mb-0 font-weight-bold">Dirección</p>
    <p class="mb-4">Autopista Las Américas, Km. 27, PCSD, La Caleta, Boca Chica.</p>

    <p class="mb-0 font-weight-bold">Número</p>
    <p class="mb-4"><a href="#">(809)738-4852</a></p>

    <p class="mb-0 font-weight-bold">Correo electrónico</p>
    <p class="mb-0"><a href="#">20185862@itla.edu.do</a></p>

    <div>
        <span class="icon-room text-white h2 d-block"></span>
        <p class="mb-0 font-weight-bold">Ubicación</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15138.854116550776!2d-69.6626613!3d18.4513116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc80c36909a523777!2sInstituto%20Tecnol%C3%B3gico%20de%20Las%20Am%C3%A9ricas%20(ITLA)!5e0!3m2!1ses!2sdo!4v1569367974322!5m2!1ses!2sdo" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>